[2012-08-20 19:27] leobetosouza opened #5 "List of good devs to follow"
I think that the list of people to follow can grow up...  https://github.com/braziljs/js-the-right-way/blob/master/_posts/30-01-01-Resources.md#people-to-follow

These two lists can help:

http://paulirish.com/2012/developers-we-admire/

http://net.tutsplus.com/articles/web-roundups/30-developers-you-must-subscribe-to-as-a-javascript-junkie/

[2012-08-21 21:26] djalmaaraujo opened #9 "What are the topics to contribute?"
I'm confuse where i should put some informations, like, working with closures, responsive design.

Do we have a list of topics explain where i should put different kinds of content?

[2012-08-21 21:35] gnuwilliam opened #10 "Add description to "Good Parts" topics"
We need to specify each "good part" of JavaScript.

There's a topic on JS: The Right Way called "Good Parts". Inside there, we have a list of highlights. We need to write a description for each one of that.

[2012-08-23 01:25] thiagopnts opened #12 "Like button?"
I saw that we have a tweet button on the page, what about a facebook like button?

[2012-08-23 13:45] gnuwilliam opened #14 "Create favicon"

[2012-08-23 20:13] #12 closed, assigned to nobody

[2012-08-23 20:14] #14 closed, assigned to nobody

[2012-08-28 01:05] leobetosouza opened #19 "Good JS books to read"
What are the good books to learn JS?

I like the Eloquent JavaScript.

[2012-09-11 20:37] akre54 opened #23 "Design Patters"
The three subheadings under "Design Patterns" all have a typo. (unless a patter is something I'm not familiar with)

[2012-09-11 20:39] #23 closed, assigned to nobody

[2012-09-11 22:46] mdesantis opened #26 "Please: explain events!!!"
As a mainly server side web developer I write mainly server side code, and when it happens to me to write client side code generally it is related to AJAX calls, or to set the events that trigger those AJAX calls.

I really have a little perception about javascript events: I learned from experience that you can set one or more functions which are called f.e. when a link is clicked, or when a form

[2012-09-13 09:26] DeanWard opened #28 "Content too wide on desktop machines"
The main content is too wide when viewed on larger screens, on my main desktop monitor (1920x1080) I have to reduce the size of the browser window to make the text readable. A hard limit should be set on how wide the text can go.

[2013-03-17 23:09] rmdias opened #44 "Basic Programming Themes"
Do you find it need to approach basic themes?

Examples:

1 - Lexical Structure
2 - Data types and values
3 - Others basic themes

Discussing these themes we can reach a greater number of benefit users.

[2013-12-11 20:09] luiztiago opened #54 "All domains are still offline"

[2014-01-17 02:18] #54 closed, assigned to nobody

[2014-01-17 12:45] #28 closed, assigned to nobody

[2014-01-17 12:46] #19 closed, assigned to nobody

[2014-01-17 12:46] #26 closed, assigned to nobody

[2014-01-17 12:46] #9 closed, assigned to nobody

[2014-01-17 12:47] #5 closed, assigned to nobody

[2014-01-17 16:13] #44 closed, assigned to nobody

[2014-01-17 18:01] jhcato opened #60 "Page hangs in Firefox 17"
When I hit the index page the script enters an infinite loop, adding a ton of elements at the bottom of the page until the script is forcibly stopped.

[2014-01-17 19:33] victorsenam opened #62 "William's Bio in Small Screens"
When in a small screen William's bio section gets weird.
I plan to solve this issue soon, anyway, tought I should post if anyone wants to fix.

[2014-01-17 22:13] jspraul opened #64 "Add supported browsers"
Many developers have limits on the technologies they can use based on the browsers they are targeting. Having a list of browsers supported or filterable is a quick way to narrow down their valid choices.

[2014-01-17 22:47] #62 closed, assigned to nobody

[2014-01-18 02:33] #64 closed, assigned to nobody

[2014-01-19 03:21] rodrigo-medeiros opened #69 "Add a new topic called "Listening"."
I think a "Listening" topic should be included, where we could add Javascript related podcasts, like [Javascrip Jabber](http://javascriptjabber.com/) and [Nodeup](http://nodeup.com/).

[2014-01-21 13:50] gnuwilliam opened #72 "Migrate to DocPad"

[2014-01-22 03:27] #60 closed, assigned to nobody

[2014-01-22 03:30] #10 closed, assigned to nobody

[2014-01-23 16:55] mkxml opened #86 "Add MDN and Web Platform links"
Hello, I was wondering why [MDN](http://developer.mozilla.org/docs/JavaScript) and [Web Platform](http://docs.webplatform.org/wiki/javascript) links are not in this project.

What do you think of adding them to the Portals section?

If you like the idea I could submit a PR with the idea.

[2014-01-24 13:01] #86 closed, assigned to nobody

[2014-01-24 14:13] cored opened #88 "The definitive guide to Javascript is free from O'Reilly"
Maybe the link should be in the Ebook section, here is the book:

ftp://91.193.236.10/pub/docs/linux-support/programming/JavaScript/%5BO%60Reilly%5D%20-%20JavaScript.%20The%20Definitive%20Guide,%206th%20ed.%20-%20%5BFlanagan%5D.pdf

[2014-02-01 16:50] #88 closed, assigned to nobody

[2014-02-02 17:27] huichops opened #109 "Section for misc links"
Where should we add some misc links like:
[TodoMVC](http://todomvc.com/)
[UglifyJS](https://github.com/mishoo/UglifyJS)
[MicroJS](http://microjs.com)

[2014-02-07 21:29] vsanasc opened #116 "Create the section server"
Lately Javascript entered in the world the servers with node.js. Actually in js: The Right Way haven't nothing about node.js. The only that I find was two link's. but it has nothing more!

[2014-02-12 16:36] #116 closed, assigned to nobody

[2014-02-12 16:36] #109 closed, assigned to nobody

[2014-02-12 16:36] #72 closed, assigned to zenorocha

[2014-03-07 18:05] #69 closed, assigned to nobody

[2014-03-14 22:17] vsanmaster opened #131 "You think that would useful to create a back top button?"
when I go http://www.jstherightway.org/#frameworks. it not show a way of back main menu. I want to create a button with this functionality.

But I don't want to make without support of my friends of jstherightway.

[2014-05-14 17:12] caio-ribeiro-pereira opened #142 "Page was not updated"
Hi, my recently pull request was not updated in the home page.
Is there some problem updating the gh-pages?

thanks!

[2014-05-14 18:03] #142 closed, assigned to nobody

[2014-07-31 02:21] victorferraz opened #148 "New Event Section"
I would like create a new section with the Js Events separete by country.
I would use Lanyrd.

[2014-09-26 23:32] themindfuldev opened #157 "The website is down"
Not sure when it started but I can no longer access [http://jstherightway.org/](http://jstherightway.org/).

[2014-09-26 23:37] #157 closed, assigned to nobody

[2014-10-22 00:32] #148 closed, assigned to nobody

[2014-10-28 19:39] randsonjs opened #160 "Versão PT-BR"
Por se tratar de uma organização brasileira, feito por brasileiros. Acharia melhor ter uma versão traduzida para o website.

Sei que em inglês podemos alcançar mais pessoas ao redor do mundo. Mas uma versão em português é muito importante. Principalmente para iniciantes.

O que achas de começar uma tradução para este projeto?

[2015-02-04 15:38] #131 closed

[2015-02-05 12:17] eternalko opened #167 "Update Singleton"
Hi,

I think that it is worth removing Singleton from recommended design patterns. Even in the book there is a final word about it:

They create a *hidden* (not explicit) global state and global state dependency. And this will make everyone's life miserable. In real world JS a module pattern can and should be used. It is a de-facto standard. And it gives all the benefits of a singleton without the

[2015-02-06 10:46] pedropolisenso opened #169 "Fixar menu principal"
Deixar o menu principal fixo é algo que pode ajudar na navegação do usuário sem ter que ficar rolando, com frequencia, o scroll.

[2015-02-06 10:49] pedropolisenso opened #170 "Divulgação do repositório"
Acho legal começarmos a informar nas comunidade sobre **js-the-right-way** seria de muito últil para alguns. Pelo meu ponto de vista é um projeto não muito divulgado que poderia ser tornar popular nas comindades e ajudar mais pessoas. :+1:

[2015-02-06 15:16] gnuwilliam commented on #170
Fala, @pedropolisenso!

Cara, seria bem legal ter ajuda nessa divulgação, sim. Porém, ele já foi divulgado diversas vezes em varias mailing-lists, grupos, e também newsletters.

O projeto é muito popular fora do Brasil, mas aqui ainda precisamos ganhar espaço.
Acredito que com a tradução em pt_BR consigamos atingir um resultado melhor, apesar disso me deixar um pouco desapontado, pois o inglês não

[2015-02-06 15:22] pedropolisenso commented on #170
Sim com certeza, compreendo. Já mandaram um PR de tradução do README.md e
da index mas não deram o merge
Em 06/02/2015 13:16, "William Oliveira" <notifications@github.com> escreveu:

[2015-02-06 17:04] gnuwilliam commented on #170
Sim, estou ciente. Falta revisar, e pretendo fazer isso o mais breve possivel.

[2015-02-06 17:48] pedropolisenso commented on #170
Perfeito @gnuwilliam vamos aguardar a aprovação do PR. E quanto ao lance de divulgar mais, disse porque nunca havia visto nas comunidades alguém falando ou comentando. Mas me organizei durante um tempo e a partir desse ano estou querendo contribuir mais para projetos Opens, saca?

Essa semana mesmo vou mandar um PR para fixar o menu (issue #169), facilitando na navegação do usuário. E depois que o

[2015-03-05 16:04] eternalko commented on #167
Since there is no feedback, will close this issue

[2015-03-05 16:04] #167 closed

[2015-03-05 17:53] gnuwilliam commented on #167
Hey @eternalko, sorry for taking so long to answer you.

I do agree with you that Singleton would create a really bad environment in JavaScript, but at the same time, it's still a design pattern, and there are cases and cases. Maybe for a really specific reason, someone would find it useful somehow.

Besides that, I think it's helpful having the link on the website, so users can get more informati

[2015-03-05 18:15] eternalko commented on #167
@gnuwilliam, battle with singletons is as old as any IT holy war.

Any discussion I had in my life about them always ends up:
'ok, now I see why **classical** singleton is an antipattern'.

Antipattern is also a pattern. And don't take my word for it.
A [link](http://misko.hevery.com/2008/10/21/dependency-injection-myth-reference-passing/)] from the books last paragraph.

Most new programmers read

[2015-06-29 23:29] #160 closed

[2015-06-30 00:09] #170 closed

[2015-07-05 14:28] item4 opened #185 "i18n support"
Hello.

I find this repo from HN today. I look at it and I think "I must translate it. It will be nice work for my study and global js culture.".

I'm Korean. Although I can't English well, I think I can translate it with some reference from dictionaries and some advice from its contributer. And I think if you decide to i18n this page, there will be with many contributors.

Please reply your opini

[2015-07-05 16:28] AlperenTalaslioglu commented on #185
Yeah, if they confirm, I can translate entire page to Turkish. There will be more contributors to different language translations. Your idea is great :) Hope they will confirm this idea :+1:

[2015-07-06 17:27] allanesquina commented on #185
Hey guys, amazing, I need one responsible for each language, cause I'm Brazilian, if you accept, you can do this work. What do you think?

[2015-07-06 19:05] AlperenTalaslioglu commented on #185
@allanesquina I can translate all page to Turkish :+1:

[2015-07-07 00:50] appleboy commented on #185
@allanesquina I can translate all page to `Traditional Chinese`

[2015-07-07 03:55] item4 commented on #185
@allanesquina I want to do it. :+1:

[2015-07-07 03:59] seoh commented on #185
do you need a participant in Korean?

[2015-07-07 04:00] item4 commented on #185
@seoh you must do it with me =3=3

[2015-07-07 21:10] allanesquina commented on #185
Fine, I'll create a new branch called i18n with an translation's structure and then we can work on it.
Good luck, soldiers! :+1:

[2015-07-08 14:58] AlperenTalaslioglu commented on #185
@allanesquina We are waiting your branch create :+1:

[2015-07-08 21:02] ceoaliongroo commented on #185
:+1:

[2015-07-09 16:34] seoh commented on #185
:+1:

[2015-07-09 16:34] ujuc commented on #185
:+1:

[2015-07-10 02:47] haruair commented on #185
Such a great idea :+1:

[2015-07-10 11:40] item4 commented on #185
@allanesquina Can we use i18n branch now?

[2015-07-10 11:42] AlperenTalaslioglu commented on #185
I think no. "Please Wait" was written.

[2015-07-10 11:52] item4 commented on #185
Someone make a PR already. #189

[2015-07-10 12:06] AlperenTalaslioglu commented on #185
So lets everyone create Pull Request :+1:

[2015-07-10 14:14] item4 commented on #185
I will wait until ready to go.

before show time, I suggest to fork and change my [google docs sheet](https://docs.google.com/spreadsheets/d/10Os0YvjHo3OOpW4QENh35MKGNd8vAqQpc6KbfymAU5U/edit?usp=sharing).

[Korean branch is here.](https://docs.google.com/spreadsheets/d/1rwNMrZ9pGg8CP7-Z8BBXUaoqE_yntPDcc2Fwb0FZlBU/edit?usp=sharing)

[2015-07-10 16:15] allanesquina commented on #185
Hi guys, i'm sorry I made you wait, the .json file is incomplete, there's one item for each category, so I'll accept all pull requests now, but please, when I complete this file, be sure that your file be completed too.
:+1:

[2015-07-10 20:35] allanesquina commented on #185
Hey Soldiers, I fixed the workflow, now we can use **grunt server** to work. :+1:

[2015-07-10 22:17] allanesquina commented on #185
Hey, the file **en-us.json** is completed. \o/
Thanks @gabrielfurini :+1:

[2015-07-10 23:09] gabrielfurini opened #194 "[i18n] Language selector"
Hey guys, translate the project it's a good idea! Did you already think about a language selector? If you want, I'm able to help.

[2015-07-11 00:09] allanesquina commented on #194
Not yet, what do you proposes?

[2015-07-11 00:16] gabrielfurini commented on #194
I was thinking in a simple drop-down on top of the page. Could be clean and useful, following the visual identity of project. What do you think?

[2015-07-11 00:22] allanesquina commented on #194
I liked, I was studying the case and I found this dropdown on codepen.io:
http://codepen.io/daniesy/pen/pfxFi
It's a good dropdown, would be interesting if it had a flag of the country as well, isn't?

[2015-07-11 00:40] gabrielfurini commented on #194
It's funny... you posted a drop-down using just CSS, and this project is just about JS. But I agree with you. If CSS can do the work by itself, why not?

And yes, I was thinking to put flags too. In this case, we will need to have flag images. There are many kits of flag-icons available for free. We will need to choose one to maintain uniformity.
What about if a make a test and send it to you as P

[2015-07-11 00:56] ivanbanov commented on #185
I'm gonna translate to portuguese folks!

[2015-07-11 01:03] appleboy commented on #194
It is awesome drop-down using just css. :+1:

[2015-07-11 02:14] allanesquina commented on #185
Welcome to army @ivanbanov! :+1:

[2015-07-11 02:23] allanesquina commented on #194
Well done, we need to decide what kind of flag to use. What if we put here the options and then, make the decision together?

[2015-07-11 17:09] gabrielfurini commented on #194
I found an open-source project with svg icons, flatten designed, tested and with sass/less support ready: [flag-icon-css project](http://lipis.github.io/flag-icon-css/)

[2015-07-12 06:33] bestalign opened #196 "impactjs wrong url"
the url should be http://impactjs.com, but actually it was http://melonJS.org under game engines section.

[2015-07-12 08:44] item4 opened #197 "mocha testing tools listed twice in i18n branch es-es"
It affect other branches. I build ko-kr for test and I see it.

[2015-07-12 08:48] item4 commented on #197
@ceoaliongroo please check it

[2015-07-12 08:52] ceoaliongroo commented on #197
I think already fixed, https://github.com/braziljs/js-the-right-way/pull/195/files need to be merge. Could you check @allanesquina?

[2015-07-12 17:34] allanesquina commented on #197
Yup, it's fixed. Can you check @item4?

[2015-07-12 17:38] allanesquina commented on #196
Do you wanna fix it? Would be nice! :+1:
Please, change this file:
https://github.com/braziljs/js-the-right-way/blob/i18n/i18n/en-us/en-us.json

[2015-07-12 17:49] allanesquina commented on #185
Soldiers, please, help us to decide what kind of flag to use on the select element!
#194

[2015-07-12 17:50] allanesquina commented on #194
I liked, lets see what the soldiers think.

[2015-07-12 23:42] gabrielfurini commented on #194
I made some tests and implemented locally this dropdown:
![languageselector](https://cloud.githubusercontent.com/assets/1728387/8640640/dac43654-28d5-11e5-9a6c-506b59e6d8fe.png)

Do you like it? I accept suggestions.

[2015-07-13 02:56] allanesquina commented on #194
Yes, it's good, but what if you put this below of the 'the right way' element, centered? What do you think? Is it more visible?

[2015-07-13 14:24] item4 commented on #197
@allanesquina yes, it fixed. please close this issue after your checking

[2015-07-13 14:45] pedropolisenso opened #200 "Notification"
Às vezes acho este projeto meio parado, tem bastante PR encaminhado e nenhum aceito, este é um projeto legal da comunidades, podemos manter o mesmo em funcionamento e atualizado!

[2015-07-13 16:04] allanesquina commented on #200
@pedropolisenso, sim, as vezes é difícil manter um projeto open source pois exige tempo e dedicação (fora os gastos que saem do nosso bolso), principalmente em um projeto como esse onde PR e novas issues são abertas quase todos os dias. Analizar a mudança, verificar o conteúdo e responder a todos nem sempre é uma tarefa fácil. Em virtude a esta dificuldade, o criador do projeto (@gnuwilliam) coloc

[2015-07-13 16:10] pedropolisenso commented on #200
Show @allanesquina irado, confesso que até eu havia esquecido deste projeto, criei uma issue para fixar o menu, facilitando a navegação, dei uma olhadas nos PR e vi que ja tem a tradução de EN para PT, pois tem uma galera ainda que precisa aprender o ingles, enfim. Só quero que saiba que pode contar comigo para este projeto.

[2015-07-13 16:12] allanesquina commented on #196
:ok_hand:

[2015-07-13 16:12] #196 closed

[2015-07-13 16:12] allanesquina commented on #197
:ok:

[2015-07-13 16:12] #197 closed

[2015-07-13 17:58] allanesquina commented on #200
Bem vindo ao time @pedropolisenso!  :+1:

[2015-07-13 17:58] #200 closed

[2015-07-15 03:44] huei90 opened #202 "jsconf"
How about adding jsconf (https://www.youtube.com/user/jsconfeu) in the podcast list?

<img src="https://yt3.ggpht.com/-lLQJVHClDZM/AAAAAAAAAAI/AAAAAAAAAAA/3sWsdPc8lAs/s100-c-k-no/photo.jpg"/>

[2015-07-15 16:26] allanesquina commented on #202
Hi @huei90, good, I think you can add it in the screencast section, you can follow the podcast elements pattern, adding a box instead a image.
You can change this files:
https://github.com/braziljs/js-the-right-way/blob/i18n/i18n/en-us/en-us.json
https://github.com/braziljs/js-the-right-way/blob/i18n/templates/index.html
Can you do it for us?

[2015-07-15 16:29] allanesquina commented on #194
Hi man, I'll merge **i18n** with **master** next weekend, can you commit your changes and make a PR?

[2015-07-15 16:52] gabrielfurini commented on #194
Yes, I can. I'm gonna do this ASAP.

[2015-07-15 21:27] allanesquina commented on #194
:zap:

[2015-07-16 04:29] huei90 commented on #202
Sure, I will do it!

[2015-07-16 04:34] huei90 commented on #202
Done, should I change the master branch too?

[2015-07-18 03:18] allanesquina commented on #202
Thanks @huei90 ! :+1:

[2015-07-18 03:18] #202 closed

[2015-07-18 03:19] #169 closed

[2015-07-19 01:03] NateEag opened #205 "Is JSHint really the "best" linter?"
As far as I'm aware, [ESLint](http://eslint.org/) provides all the style checks JSHint offers, while being more configurable, more modular, and more extensible. I believe it is slightly slower, though I've never  experienced serious performance issues.

I'd suggest recommending it rather than JSHint.

I'd at least tone down the claim that JSHint is the best to "JSHint is a good style checker".

[2015-07-20 02:33] huei90 commented on #202
:+1:

[2015-07-20 04:23] allanesquina commented on #205
I agree, to solve this, we can make a list of the lints|hints available with your specifications. What do you think?

[2015-07-21 21:06] allanesquina opened #209 "pt-br revision"
Hi @ruanltbg, good job, now I'm putting here some points to review: :+1:
@ivanbanov

# Todo
* Some words need to be in original language for a better understanding. (e.g. **engine**)
* Some words need to accent correction

[2015-07-21 22:23] ruanltbg commented on #209
@allanesquina In the case you prefer "Engine de games" or "Game Engine"?

[2015-07-22 06:21] allanesquina commented on #209
I prefere Game Engine, and you?

[2015-07-22 12:54] ruanltbg commented on #209
@allanesquina I prefere "Game Engine" but who do not know english and will use Google Translator after open the link? They will see: https://translate.google.com/translate?hl=en&sl=en&tl=pt&u=http%3A%2F%2Fmelonjs.org%2F&sandbox=1
"melão JS Um motor de jogo leve HTML5".

[2015-07-23 17:17] allanesquina commented on #209
Hi @ruanltbg , sorry the delay, I agree with you, we can't translate technical terms, the most problems of the translations is that they translate it, so, lets keep the original terms.
I'll revise all soon.
Thanks for all. :+1:

[2015-08-16 23:17] NateEag commented on #205
sorry, been extremely busy for the past month.

Just submitted a possible edit - let me know what you think.

[2015-08-18 02:22] unluisco commented on #194
I do not agree with the flags, it is not a fair way to display the languages

[2015-08-18 06:34] item4 commented on #194
I do agree with @unluisco too.

[2015-08-18 17:27] allanesquina commented on #194
Hi Soldiers, well, I agree with @unluisco too, so, let's only keep the languages names.
Is it good for you @gabrielfurini?

[2015-08-19 09:45] gabrielfurini commented on #194
It really makes sense. But there's a change to be done on mobile version: just the flags are visible.

[2015-08-23 16:15] jfmercer opened #217 "ES6 Section?"
I am a novice JS programmer, and this project has been invaluable to me. At the the workspace, I am increasing encountering ES6 code which I struggle to understand. Unfortunately, `js-the-right-way` does not have a section dedicated to ES6.

Is it time to add a section for ES6? Or would that be beyond the scope of this project?

Many thanks for your excellent work. :+1:

[2015-08-23 21:21] allanesquina commented on #217
Hi @jfmercer, we're happy to help you and others that want to learn JS. Now we're working on the translation feature, but I have plans to new features soon, you can be part of this helping us with this. I'll keep this issue open. Thanks! :+1:

[2015-08-23 23:30] jfmercer commented on #217
@allanesquina Thanks for getting back to me so quickly. Whenever you start working on the ES6 section, I'd be happy to help in any way that I can.

[2015-09-03 18:57] item4 commented on #217
:+1:

[2015-09-03 20:03] allanesquina commented on #217
:+1:

[2015-09-22 20:32] cometeer opened #219 "Meteor not an MVC framework"
Meteor is listed as an MVC framework which it most certainly isn't. Meteor is a combination of database, server and rendering engine with all the "glue" between them, which allows MVC frameworks to lean on it's infrastructure (angular for example). I'm not really sure where it should be located (at the top!) but listing it with the MVC frameworks is a bit confusing and might really annoy some peop

[2015-09-23 19:37] allanesquina commented on #219
Hi @cometeer, I do agree, some sections are confused, I'm thinking of organizing again. I'm working on another feature now, but would be nice if I had this help. Thanks :+1:

[2015-09-23 20:00] cometeer commented on #219
It's a bloody nightmare to even think about, creating a taxonomy of js frameworks and libraries.The last thing you want is anything like [this wikipedia article](https://en.wikipedia.org/wiki/Comparison_of_JavaScript_frameworks) but at the same time it would be really handy to have a place like "JS the right way" where all this stuff is found.

[2015-10-04 09:04] christianesperar opened #224 "Add different linting tools"
Add other linting tools that can breakdown like what on the frameworks section. An alternative would be JSLint, JSCS and ESLint.

[2015-10-14 06:10] #194 closed

[2015-10-14 06:10] #185 closed

[2015-10-14 06:11] #209 closed

[2015-10-14 10:34] ruanltbg commented on #209
@allanesquina did you review? If you want I can rewrite with english words, but I really do not know which is best.

[2015-10-17 08:05] bestalign opened #227 "5 Minutes of JavaScript URL"
Turns out the url of 5 Minutes of JavaScript website has changed. I will fix and PR very soon.

[2015-10-17 20:31] allanesquina commented on #227
Hey @bestalign, good one, thanks :+1:

[2015-10-17 20:31] #227 closed

[2015-10-20 10:44] Pyrax opened #233 "Encoding issue of public german files"
The generated [index.html](https://github.com/braziljs/js-the-right-way/blob/master/public/de-de/index.html) of the german translation seems to have some encoding issue as german umlauts (ü,ä,ö, ...) got replaced by question marks.
I think it's an issue of conversion/generation as the original files seem fine.

[2015-10-23 07:48] dyygtfx opened #235 "close"
close

[2015-10-28 17:52] #235 closed

[2015-10-30 09:41] anaibol opened #237 "Add Flux as design pattern"
Hi, as far I know Flux is a design pattern, and I think it should be present on the list. I am right?

[2015-11-05 11:08] romainquellec opened #239 "Website down"
The website is down :

"This Account Has Been Suspended.
Please contact the billing/support department as soon as possible."

[2015-11-06 05:18] bestalign commented on #239
It's working ok for me. How's your side now? @romainquellec

[2015-11-06 12:00] romainquellec commented on #239
It's perfectly fine today !

[2015-11-06 18:01] gnuwilliam commented on #239
Seems to be working now, closing the issue. Thanks for reporting @romainquellec.

[2015-11-06 18:01] #239 closed

[2015-11-19 21:46] allanesquina opened #241 "Russian translation"
Welcome @a-pavlov-parc, thanks! :+1: !

[2015-11-19 21:48] allanesquina opened #242 "Vietnamese translation"
Welcome my friend @soyelmnd :+1:

[2015-11-20 00:54] soyelmnd commented on #242
+1 @allanesquina, great, thanks for the invitation, let me take this :smile:

[2015-11-22 09:36] tbreuss commented on #233
Should be fixed with my pull request https://github.com/braziljs/js-the-right-way/pull/243.

[2015-11-22 14:23] allanesquina commented on #233
Files need to be saved with UTF-8 encoding.
Solved :+1:

[2015-11-22 14:24] #233 closed

[2015-12-12 22:07] Restuta opened #244 "Add Tape to the list of Testing Tools"
[Tape](https://github.com/substack/tape) is a [rising star](https://medium.com/javascript-scene/why-i-use-tape-instead-of-mocha-so-should-you-6aa105d8eaf4#.76f9ibl1e) for testing and deserves to be added.
Maintained by https://github.com/substack

What are the contributor's guidelines? I see some PR's for all the Languages. I am not sure I have time/skills to translate, should I submit PR for just

[2016-01-26 22:26] mirmousaviii opened #247 "RTL Template"
I started new translate for Persian in [this] (https://github.com/mirmousaviii/js-the-right-way) repository, But I need rtl style for Persian language.
Can I edit main template for support rtl language?

[2016-01-30 13:52] andysaini opened #249 "Website no longer up?"
Unable to reach the website.. anyone else facing this?

[2016-01-30 18:48] laukstein commented on #249
Is down for me too.
http://www.downforeveryoneorjustme.com/jstherightway.org shows down too.

[2016-02-02 11:49] ishanjain28 commented on #249
Its probably fixed by now. I can access it. and its up.

[2016-02-02 19:01] allanesquina commented on #249
Sorry guys, we're having problems with the server, there was a **datacenter migration**. We're researching another solution for now. Someone knows any option with `WHM` and `CPANEL` :question:
Thanks!

[2016-02-02 19:12] andysaini commented on #249
@allanesquina is the website hosted at github pages?

[2016-02-03 17:47] andysaini commented on #249
seems to be up now!

[2016-02-03 17:47] #249 closed

[2016-02-26 17:05] allanesquina commented on #247
Hey, no worries, I've seen you've added it. I'm gonna make some tests but it's ok.
Thank you @mirmousaviii :+1:

[2016-02-26 17:05] #247 closed

[2016-02-26 17:11] allanesquina commented on #244
Hey @Restuta, thanks, actually we haven't guidelines yet, as the project grown up fast. That's a good idea to implement it now. Don't worries about the translation, the content will be in English if it has not a specific translation.
Thanks :+1:

[2016-03-22 03:56] mauriciomassaia opened #253 "add GSAP in Animation section?"
[GSAP (GreenSock Animation Platform)](http://greensock.com/gsap) is robust, easy to use, has a impressive performance and a lot o handy plugins.

Have a look.

Cheers

[2016-03-24 16:32] Pyrax opened #255 "Broken URL: functionaljavascript.com"
The URL of the book Functional JavaScript by Michael Fogus is broken.
Might have to watch if this issue remains after some time.

http://functionaljavascript.com/

[2016-03-29 08:32] item4 commented on #255
I can not access there yet.

[2016-03-29 23:05] allanesquina commented on #253
Yeah, very interesting, it has a great example [here](http://greensock.com/?example=howls-moving-castle).
Are you comfortable to add it?
Thanks @mauriciomassaia :+1:

[2016-03-29 23:22] allanesquina commented on #255
Yup, still broken.
I've found some articles and projects we can replace for but putting it in another section, take a look:

- https://www.smashingmagazine.com/2014/07/dont-be-scared-of-functional-programming/
- http://jrsinclair.com/articles/2016/gentle-introduction-to-functional-javascript-intro/
- https://github.com/timoxley/functional-javascript-workshop
- http://eloquentjavascript.net/1st_edi

[2016-04-04 10:10] Pyrax commented on #255
I feel like the first article on Smashing Magazine might be a good replacement for the book. It provides a good introduction and more importantly there's a lot of discussion in the comment section.

[2016-04-18 14:09] rmdias commented on #255
I just read the links, also think that the first one can be a good idea.

[2016-04-18 14:12] rmdias commented on #217
:+1:

[2016-04-20 16:28] sasha240100 opened #264 "Add WhitestormJS to the list of Game Engines"
Github: https://github.com/WhitestormJS/whitestorm.js
Documentation: http://whitestormjs.xyz/

[2016-05-23 14:33] allanesquina commented on #264
Hi @sasha240100 , I think this project has a great potential, but seems like a growing engine yet since it has too many features to be done, so how about we create a specific section to put projects like this?
Thanks :+1:

[2016-05-23 14:57] sasha240100 commented on #264
@allanesquina Sure, if you want - off course. But i suggest to put it game engines too. Thank you:)

[2016-05-24 07:27] AdamMadrzejewski opened #266 "Broken link to "Google Code Style Guide for JavaScript""
The broken link is:

http://google-styleguide.googlecode.com/svn/trunk/javascriptguide.xml

The working one is:

https://google.github.io/styleguide/javascriptguide.xml

[2016-05-25 16:38] #266 closed

[2016-06-22 00:03] kazatca opened #273 "Can DailyJS be in news section?"
http://dailyjs.com/2015/07/07/the-end/

[2016-06-22 08:28] allanesquina commented on #273
Oh man, that's a bad news. I think we can keep the link for while, the message need to be read. :neutral_face:

[2016-06-22 08:37] allanesquina commented on #273
Oh man, no, we need to remove the link. :+1:

[2016-06-22 09:37] bichotll opened #274 "JS CODE STYLE deprecated"
Hi,
It currently claims that the best tool is JSHint. JSCS has recently merged ESlint.
I think ESLint is actually the best and most used tool for "linting" as well as for code style.

[2016-06-23 22:33] allanesquina commented on #274
I think we can change it, but the idea is show all the great tools we have. I'm working on a reorganization task, so I'm gonna create a voting issue with the best tools we have today, what do you think? So we can update the list and create new sections if necessary.

[2016-06-24 07:57] bichotll commented on #274
I think that a voting is cool ;) That will definitely help to update it.

JS world is updated/changes every day. That could be done every X time (6
months?).
This is a popular page, so we should keep it up to day.
On 23 Jun 2016 11:34 p.m., "Allan Esquina" <notifications@github.com> wrote:

[2016-06-24 21:34] allanesquina commented on #274
That's true, we have new features almost every day, and it's a bit hard to keep all things up to date. I have no idea how we can make it here, since there's so many content to list and sounds a bit noise put all of those in a single issue, confusing I guess, I was think in a second options to do that which is to put a button UP/DOWN for each link on the page, so the user can rating the link, but i

[2016-06-27 10:35] bichotll commented on #274
I like the votes idea! But yeah, that needs to be implemented with a
server. Also, for any new tool/resource added it will take a while until is
has a good position.

Maybe ordering the tools automatically by their Github stars? That does not
include books or websites tho...
Then we invite the readers to suggest any tool with a simple button that
opens an issue? On the right of the page?

I would

[2016-06-28 22:44] allanesquina commented on #274
Yeah man, I completely understand, we all are too busy, no worries.
The idea to sort by Github stars is amazing, I like that. We can think about this button, maybe something to incentive people to participate.
I have to finish a project before start to do this changes, so, we have time to think more about it yet. You're welcome here, feel free to contribute always.
Thanks man :+1:

[2016-06-30 17:51] darlanmendonca commented on #205
I agree with eslint as best tool for lint:

- have the same rules like jshint
- but is flexible, to add plugins

an example, in specific frameworks, we have specific patterns to their., example, eslint-plugin-angular add rules to lint pattern of john papa

[2016-06-30 17:56] darlanmendonca commented on #205
I vote to change in side jsHint for eslint

[2016-06-30 17:56] darlanmendonca commented on #205
or metion both

[2016-06-30 17:59] darlanmendonca opened #275 "link to Google Code Style Guide for Javascript is broken"
the link is broken

[2016-07-30 21:31] sasha240100 commented on #264
@allanesquina Any updates on this topic?

[2016-07-31 18:21] allanesquina commented on #264
Hi @sasha240100, Yeah, you've been worked hard, the docs is pretty, I'm gonna put it on game engine section :)
Thanks :+1:

[2016-07-31 22:00] sasha240100 commented on #264
@allanesquina Nice to hear that from you, thanks:)

[2016-08-17 19:23] sasha240100 commented on #264
@allanesquina Any updates on this issue?

[2016-08-18 18:44] AlfredJKwack commented on #273
I've put in PR #280 for this purpose.

[2016-08-23 18:10] maxis1718 commented on #275
I just filed a PR: https://github.com/braziljs/js-the-right-way/pull/281

[2016-09-01 21:31] sasha240100 commented on #264
@allanesquina Any updates?

[2016-10-03 00:25] samuelyeshua opened #283 "Broken links"
I found some links that no longer work

[SpiceJS](http://www.3den.org/spicejs)
[Anima](http://lvivski.com/anima/)
[Como começar com JavaScript](http://jugoncalv.es/blog/javascript/how-to-start-with-javascript)
[Functional Javascript](http://functionaljavascript.com/)

We had who returned timeout, so do not know if the problem is the site itself or just my connection, after all work well here at th

[2016-10-24 12:04] marciopuga commented on #253
I've added it, let me know if there is any issue.

[2016-11-02 15:48] Kirmayrtomaz opened #289 "Error imagens 404 when a change language"
With you try translate the website for other languagem like portuguese. Any imagens was had 404

![](http://i.imgur.com/Q6vkpfZ.png)

the problems have because a error for url

**Error 404**
[code]
**remove /pt-br/**
Try without directory language and works
[code]

After i clone the repository and test your project searching this bug, but a not found. Works correct

Maybe i think  just need, deplo

[2016-11-08 16:41] caio-ribeiro-pereira commented on #283
Hi! Could you update the DevFreeBooks link?
Now the new link is: https://devfreebooks.github.io

Thanks!

[2016-11-20 10:53] sasha240100 commented on #264
Have it been added?

[2016-12-10 19:13] vvscode commented on #241
@allanesquina  Can be closed, suppose

[2016-12-10 21:07] #241 closed

[2017-01-22 01:02] ruanltbg commented on #289
@Kirmayrtomaz everything is fine here. Can you check again?

[2017-01-22 04:04] allanesquina commented on #289
Hi, it could be a DNS problem or something like that. I can't reproduce here but thanks for the warning :+1:

[2017-01-22 04:04] #289 closed

[2017-01-27 18:47] sasha240100 commented on #264
@allanesquina ?

[2017-01-27 19:26] allanesquina commented on #264
Hey @sasha240100, sorry the delay, I didn't put yet, but you can create a PR with this change, I'll be glad to accept that for sure. How about that?

[2017-01-27 19:45] sasha240100 commented on #264
@allanesquina Thanks! Will do in 15 mins

[2017-02-23 21:11] alex-shamshurin commented on #205
I think it's tern-lint

[2017-03-08 02:23] marocchino opened #296 "Dupilicated Entries"
In http://jstherightway.org/ko-kr/#game-engines page some content appear two times.

![screen shot 2017-03-08 at 11 21 04](https://cloud.githubusercontent.com/assets/128431/23687375/85bc4284-03f1-11e7-9d3e-5c681f78f863.png)
![screen shot 2017-03-08 at 11 21 32](https://cloud.githubusercontent.com/assets/128431/23687376/85c94fb0-03f1-11e7-83f6-76885a5d4018.png)

[2017-03-08 07:45] bestalign commented on #296
I will look into it :)

[2017-03-08 16:53] #275 closed

[2017-03-08 16:58] #253 closed

[2017-03-08 16:58] #244 closed

[2017-03-08 16:58] #237 closed

[2017-03-08 17:00] sasha240100 commented on #264
@allanesquina @gnuwilliam I can make a PR, but i don't know where to start from. Is there an instruction?

[2017-03-08 17:11] sasha240100 commented on #264
@allanesquina @gnuwilliam Done.

[2017-03-09 09:06] bestalign commented on #296
This is because new items added to the middle of the list. There are a few more items that need to be added and translated into Korean since the Korean translation haven't been touched for a while.

Here is the list to update (maybe more I haven't found yet):
- Getting Started - Current Version
   - sentences regarding ES2017 spec are missing
- Must See
   - completely new section
- Testing Tools

[2017-03-13 14:33] allanesquina commented on #264
:+1:

[2017-03-13 14:33] #264 closed

[2017-03-16 21:22] sasha240100 commented on #264
@allanesquina Thanks for adding it! How about making a `build`? It seems it isn't shown on website now

[2017-03-30 02:31] pedropolisenso commented on #217
👍

[2017-04-13 13:23] zbitname opened #299 "Site addyosmani.com is unavailable..."
Troubles with links to articles on this site. Maybe change them?

[2017-04-13 17:07] gnuwilliam commented on #299
All the links from `addyosmani.com` I opened here look just fine. Can you be more specific?

[2017-04-22 09:40] fabitee opened #300 "Currying"
Hi guys,

I've got a suggestion for the js pattern section:

Yesterday I learned about currying. Maybe this could be usefull to be included. I included a list of sources that might be interesting:

https://www.sitepoint.com/currying-in-functional-javascript/
https://www.youtube.com/watch?v=iZLP4qOwY8I
https://medium.com/@kbrainwave/currying-in-javascript-ce6da2d324fe

Cheers
Really love your websi

[2017-05-05 16:56] allanesquina commented on #300
Hey @fabitee, sorry the delay.
Yea it could be very useful for sure. Let me know if you want to put that content by your self so that you can become a contributor.
Thanks and welcome!  :+1:

[2017-05-05 17:12] allanesquina commented on #299
I can't reproduce here, maybe it was a temporary issue. I'm going to close, but thanks @zbitname :+1:

[2017-05-05 17:12] #299 closed

[2017-05-08 11:04] fabitee commented on #300
@allanesquina I'd love to contribute but since I just got into the topic I don't think I'm overly qualified to find the perfect resources for this topic. Thing is, I found two ways people tend to curry stuff:

1. Breaking down a function with multiple arguments into several functions with one argument each. [A simple JSFiddle example](https://jsfiddle.net/cbune6vr/4/).
2. Object methods return the

[2017-08-29 18:48] ShalokShalom commented on #283
Also broken: FUNCTIONS AS FIRST-CLASS OBJECTS

[2017-09-05 20:18] WrathZA opened #312 "Jstherightway.org domain squatted?"
It looks like the domain has expired and has been stolen?!
![image](https://user-images.githubusercontent.com/3757315/30081626-29e249ce-9288-11e7-9feb-9330a664f372.png)

[2017-09-07 03:40] gnuwilliam commented on #312
There was a domain issue w/ GitHub, but it's already solved. Thanks for reporting!

[2017-09-07 03:40] #312 closed

[2018-04-26 16:51] finetype opened #315 "looking a little dated... will pull requests be welcome for updating things that literally are out of date?"
"as of June 2015 the spec for ES6/ES2015 has been approved. Following the new annual release cycle, ES7/ES2016 has been adopted in June 2016. See the ECMAScript 2016 Language Specification at Ecma International."

immediately makes the page lose credibility.

So does unanswered pull requests and issues.

If it's welcome, I'd be glad to help update, as this is a great initiative, but not sure wheth

[2019-03-06 09:21] JuanMaRuiz commented on #315
Hi! I would like to participate as well in updating some outdated info. But I wondering, is this project still active?

I think this project is a great initiative and worth to maintain.

Let me know if I can help.

Best regards

[2019-03-06 17:02] gnuwilliam commented on #315
Hey guys.

I really appreciate your interest in helping out, and of course, it's very welcome!

At the moment, I have big plans to rewrite this guide from scratch, and am currently working on a big update, that should be out in the next coming months. This project is really special to me, but unfortunately, I didn't have the time to maintain it. Now I do, and I'm definitely coming back to making t

[2019-03-21 06:15] mcapodici commented on #315
Hello William

Sorry to divert this thread, but it is kind of related, and I cannot see and advice about it in the repo.

My question is how do I request a JS site to be added to the site, assuming you even entertain such requests? Should I create an issue, create a pull request, send an email?

Thanks

Martin

[2019-09-10 15:10] bakeiro opened #324 "Domain is down"
Now you can't not access to the website, which is the status??

[2020-11-10 23:21] ricealexander opened #330 "javascript.com is just an ad for Pluralsight"
Under "Portals" in the "Reading" section, the very first link is for [JavaScript.com](https://javascript.com).

The site contains:
* Pluralsight branding and advertisements.
* A "free course" consisting of punching JavaScript commands into a terminal for under 5 minutes. (not updated for ES6)
* Links to Pluralsight's paid offerings
* A skill assessment that requires registering for Pluralsight
* L

[2020-11-10 23:56] ricealexander opened #331 "Podcast Links are out-of-date"
Most of the Podcasts linked are no longer running or are no longer available under their provided links:

| Podcast                                                       | Status
| ------------------------------------------------------------- | ---------
| **[Ember Hot Seat](http://emberhotseat.com/)**                | ❌ DNS Timeout Error
| **[JavaScript Jabber](https://devchat.tv/js-jabber/)**

[2020-12-11 04:58] ln3187 opened #332 "Japanese translation"
I feel that your website is very good content.
Could you please let me translate this site into Japanese?
There are not many sites about JS best practices written in Japanese.

[2021-01-05 22:00] vladislavglad opened #333 ""ANONYMOUS FUNCTIONS" broken source link."
Under [THE GOOD PARTS](http://jstherightway.org/#the-good-parts) the "ANONYMOUS FUNCTIONS" source link does not exist (404 error).

![image](https://user-images.githubusercontent.com/53010628/103704287-0f389100-4f77-11eb-930d-5992fd5c015b.png)

[2021-01-07 19:42] gnuwilliam commented on #332
Hello, @ln3187,

Thank you for the kind words about the website. I'm glad that it helped you in some way.

It would be a pleasure to have you translating the guide to Japanese! Please feel free to do so.

Currently, the guide is very outdated, but I want to come back to it this year and update everything, have a new interface and all that, so having a new language would be even better. 😃

[2021-01-14 10:40] ren-ozeki commented on #332
Thanks for your reply!

I'll create a directory called ja-jp/ under i18n/ and
I'll send you a PR once the translation is done.

[2021-08-15 18:51] devdesiignn commented on #205
ESLint is the best, works so well for beginners

[2021-10-18 14:13] cengizcmataraci opened #336 "Turkish Translation"
Hello, you have created a great resource, congratulations and thanks.
If you don't mind, I would like to translate the site into Turkish. As I am trying to improve myself in Javascript, it will be very helpful for me to research and examine during the translation process.
And my Turkish friends will be able to progress more easily.

[2022-03-18 12:04] g12919 opened #339 "."

[2022-03-18 12:04] #339 closed, assigned to nobody